html {
    background: url(img/Фон\ 1.png) no-repeat center center fixed;       
    -webkit-background-size: cover;      
    -moz-background-size: cover;      
    -o-background-size: cover;      
    background-size: cover;
}

.header{
    display: flex;
    justify-content: center;
    font-family: 'Ubuntu', sans-serif; 
    color: #FFFFFF;
    height: 58px;
    background: rgba(0, 0, 0, 0.4);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
}
.container {
    width: 1208px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.link{
    display: flex;
    font-family: 'Ubuntu', sans-serif; 
    color: #FFFFFF;
    text-decoration: none;
    font-size: 22px;
    font-weight: 700;
    line-height: 22px;
    align-items: center;
}

.link:hover{
    color: #01813F;
    
}  
.login:hover{
    color: #01813F;   
}  
     

.icon{
    display: flex;
    justify-content: flex-end;
    color: #FFFFFF;
    align-items: center;
    text-decoration: none;
    gap: 25px;
}
.vector{
    display: flex;

    justify-content: space-around;
    align-items: center;

    gap: 25px;
}

.title{
    display: flex;    
    text-decoration: none;
    color: #FFFFFF; 
    justify-content:end;
    margin:0 auto ;
    
}
.login{
    text-decoration: none;
    color: #FFFFFF;   
}
.registration{
    text-decoration: none;
    color: #FFFFFF;  


}

.registration:hover{
    color: #01813F;
    
}
.content {
    height: 90vh;
}

.form{
    display: block;
    align-items: center;
    margin: auto;
    border-radius: 4px;
    font-family: 'Ubuntu', sans-serif;
    /* position: absolute; */
    width: 444px;
    height: 584px;    
    background: #FFFFFF;
    
}



.container_1{
    display: flex;
    justify-content: space-between;



}


.shape{
    padding-top: 29px;
}
.text{
    padding-top: 31px;
    padding-bottom: 15px;
    font-family: Ubuntu;
    font-size: 20px;
    font-weight: 400;
    padding-right: 216px;

}

    
.email{
    padding-top: 33px;
    padding-right: 59px;
    color: #3CB878;
    font-family: Ubuntu;
    font-size: 14px;
    text-decoration: none;
}

.email:hover{
    color: #01813F;
    text-decoration: underline;  
}
.container_2{
    display: flex;
    justify-content: center;
    gap: 4px;
    padding-bottom: 31px;

    
}
.sosials{
    display: flex; 
    justify-content: space-around; 
    align-items: center;
    width: 160px;
    height: 48px;
    left: 0px;
    top: 0px;
    /* padding-left: 60px; */
    color:  #FFFFFF;
border-radius: 4px;
    background: #305DB8;
}
:hover {
    transition: 0.3s;
}
.sosials:hover {
    background-color: #022263;
}
.link_google{
    display: flex;
    justify-content: space-around; 
    align-items: center;
    width: 160px;
    height: 48px;
    left: 0px;
    top: 0px;
    color:  #FFFFFF;
    border-radius: 4px;
    background: #DF4A32;
}
.link_google:hover {
    background-color: #AB1F09;
}

:focus{
    outline: none;
}
::placeholder {
    color: #BEBEBE;
}
.form input{
    display: block;
    width: 322px;
    height: 45px;    
    box-sizing: border-box;
    padding-left: 20px;
    margin: auto;
    border-radius: 4px;
    border: 1px solid #F2F2F2;
    color: #BEBEBE;
    box-shadow: none;
}

input:focus {
    color: #434343;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}
.text_form{
    text-align: center;
    color:#434343;
    display: flex;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 20px;
    justify-content: center;
}
.text__form{
    color: #3CB878;   

}

.option{
    color: rgba(132, 132, 132, 1);    
     
}
.separator {
    text-align: center;
    height: 0.5em;
    border-bottom: 2px solid rgba(242, 242, 242, 1);
    ;
    margin-bottom: 12px;
}
.separator:first-line {
    background-color: white;
}
.terms_container {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 322px;
    margin: 0 auto;
    flex-direction: row;
}

#checkbox {
    border-radius: 0px;
    width: 20px;
    height: 20px;
    border-color: 1px #bebebe;
    margin-left: 0;
    margin-right: 8px;
}
.terms_container #checkbox:hover {
    box-shadow: none;
}

.input:checked #checkbox {
    color: #FFFFFF;
    background-color: #FFFFFF;
}

.form button{
    background: #3CB878CC;
    color:  #FFFFFF;
    font-family: Ubuntu;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    border-radius: 4px;
    display: block;
    width: 322px;
    height: 45px;    
    box-sizing: border-box;
    margin: auto;
    text-align: center;  
    border: none;
    
}
.form button:hover{
    background-color: #01813F;   
}
